

.poppins{
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252424;
    color: #333;
}


header {
    background-color: #252424;
    padding: 12px 0 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 120px;
}
.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:35px;
}

.orange{
    color:#b35f00;
}

header nav a {
    color: #ffffff8c;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 100px;
}

.zagol{
    color: #ffffff;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 30px;
    text-align: center; 
    margin-top: 188px;
}

.podzagol
{
    color: #ffffff;
    font-size: 1.125em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  height: 10px;
    margin-top:-28px ;
    line-height: 35px;
    
}
.titul {
    color: #ffffff;
    font-size: 1.125em;
    text-align: center; 
    width: 100%;
    height: 30px;
    margin-top: 30px;
    line-height: 30px; 
}
header .auth-links a {
    margin-left: 12px;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}

header .auth-links a:first-child {
    color: #ffffff9a;
}

header .auth-links a:last-child {
    background-color: #ffad0a;
    color: #fff;
}

.title{
    font-size: 3.125em;
    width: 70%;
    line-height: 68px;
    text-align: start;
    padding-left:110px ;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    display:flex;
    flex-direction:row ;
    align-items: center;
    gap:15px;
}
.logo>img{
    height: 38px;
    width: 38px;
    
}
.logo2{
    font-size:22px;
    font-weight: bold;
    color: #ffffff;
    display:flex;
    flex-direction:row ;
    align-items: center;
}
.logo2>img{
    height: 38px;
    width: 38px;
    margin: 0 12px 0 -12px;
}
.footer-title{
    margin: 10px 0 0 0;
}
.hr-footer
{
    margin:0 0 60px 0;

}
.hero {
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
    text-align: center;
    padding-top: 43px ;

    background-color: #252424;
    color: #ffffff;
}

.description{
    width:55%;
    margin-top:-30px ;
    line-height: 35px;
    text-align: start;
    padding-left:110px ;
    font-size: 1.125em;
    color: #ffffff96;
}
.description2{
    margin-top: 25px;
    color: #ffffff9c;
    padding-left: 10px;
    
}
.description3{
    margin-top: 30px;
    color: #ffffff9c;
    padding: 0 0 0 5px;
    font-size: 1em;
    line-height: 30px; 
}

.social{
    display:flex;
    flex-direction:row ; 
    text-align: center;
    
    padding-left:110px ;
}


.search {
  width: 500px;
  height: 60px;
  border-radius: 18px;
  display: flex;
  background: #283136;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
  margin: 60px 0 110px 105px; 
}
.search__img {
  width: 24px;
  height: 24px;
  margin: 0 0 0 20px;
}
.search__input {
  background: transparent;
  width: 300px;
  height: 35px;
  margin: 0 10px 0 10px;
  font-size: 16px;
  border: none;
  outline: none;
}
.search__input:placeholder{
  color: #333;
}
.search__button {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  background: #ec8a0aa9;
  width: 130px;
  height: 48px;
  margin: 0 8px 0 0;
  border: none;
  cursor: pointer;
}


.nameprice{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    
}

.card-container {
    margin-top: 112px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 110px; 
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    padding-left:50px ;
    padding-right: 50px;
    
}


.card {
    background-color: #252424;
   
    border-radius: 8px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 350px;
    
}




.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}


.card .price  {
    
    color: #ff9100;
    margin-bottom: 15px;
}
.price
{
    font-size: 1.125em;
    margin: 0;
    color: #ff9100;
}

.card .description {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}


.card .visit-button {
    background-color: #252424;
    color: white;
    border: none;
    padding: 7px 55px 0 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease; 
}

.group1433{
    margin-top: 95px;
}
.citate{
    color:#ffffffcb;
    font-size: 0.875em;
   line-height: 30px;
   width: 95%;
   margin-top: -10px ;
   font-weight: lighter;
}
.header1{
    display: flex;
    flex-direction: row;
    gap:30px;
    padding-left: 12px;
}
.cardname{
    font-size: 1.5em;
    margin: 0;
    color: #ffff;
   
}
.header1>img{
    height:max-content ;
}
.description2{
    text-align: start;
    width: 100%;
}
.likebutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:23px 0 0 15px;
    
}
.folderlike
{
    display: flex;
    gap: 25px;
}
.loadmore{
display: flex;
    justify-content: center; 
    margin-top: 122px;
}
.Trusted{
    color: #ffffffcc;
    margin: 0  0 20px 0;
}
.more {
    background-color: #252424; 
    color: #ff9100; 
    border: 1px solid #ffffff10;
    padding: 10px 10px; 
    width: 184px; 
    height: 64px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1.25em; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
   margin: -10px 0 0 0;
    
}
.trusted-brands {
    text-align: center;
}

.trusted-brands p {
    font-size: 24px;
    margin-bottom: 10px;
}

.brands {
    width: 1224px;
    height: 253px;
    border: 1px solid #353434c0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px; 
    padding: 0px;
    margin: 200px auto 0 auto;
}
.brands-logo{
    width: 1060px;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}
.brands-container img {
    height: 50px;
    width: auto;
    max-width: 150px; 
}





.newcomerpoppins{
    font-size: 3em;
    margin: 0 0 0 0 ;
    color: #ffff;
}

.newcomer {
    
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    
    margin-top:210px; 
    background-color: #252424;
    font-family: 'Poppins', sans-serif;
    
}


.newcomer > div:first-child {
    width: 427px; 
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; 
    
    margin-left: 40px;
}

.newcomer .poppins {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.newdescription {
    font-size: 18px;
    color: #666;
    margin: 33px 0 0 0;
    width: 100%;
    line-height: 30px;
    
}

.explorebutton {
    background-color: #ff8800b0;
    color: #fffcfc;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 60px 0 0 0;
    border-radius: 5px;
   
    width: 198px; 
    height: 58px;
    box-sizing: border-box; }


.toolsdiv{
    width:50%;
    margin-top: 10px;
}

.cardtools {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    column-gap: 24px; 
    width: 50%;
   
    height: 600px; 
   
    
    row-gap: 45px;
}

.tools1 {
    background-color: #252424;
    border: 1px solid rgba(0, 0, 0, 0.123)424;
    border-radius: 10px;
    padding: 40px 30px;
    width: 288px; 
    height: 284px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.visit-button {
    background-color: #252424;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}



.managerDiv{
    display: flex;
    flex-direction: row;
    width: 73%;
    gap: 80px;
    align-items: center;

}

.manager {
    display: flex; 
    align-items: center; 
    gap: 40px; 
    
    flex-direction: row;
    justify-content: space-between;
    width: 83%;
    background-color: #252424; 
    font-family: 'Poppins'; 
    margin-top: 225px;
    
}

.image-container {
    flex: 0 0 40%; 
    
}

.image-container img {
    
     
    border-radius: 10px; 
    width: 399px;
    height: 492px;
}

.text-container {
    flex: 0 0 50%; 
    margin: -40px 0 0 -15px;
}

.text-container h2 {
    font-size: 24px; 
    font-weight: bold; 
    color: #333; }
   


    .contribution {
        display: flex;
        flex-direction: column; 
        align-items: center; 
         
        text-align: center; 
        padding: 50px; 
        background-color: #252424; 
        font-family: 'Poppins'; 
        min-height: 400px; 
        margin-top: 145px;
    }
  .contribtext{
margin: 0 0 70px 0;
}
    .contribtext .title {
        font-size: 36px; 
        font-weight: bold; 
        color: #333; 
       
    }
    
    .contribtext .subtitle {
        font-size: 18px; 
        color: #666; 
        margin-bottom: 10px; 
    }
    
    .contribsearch {
        width: 550px; 
        height: 64px; 
        border-radius: 10px; 
        display: flex; 
        background: #283136; 
        align-items: center; 
        margin-top: 15px;
        padding: 0 12px; 
        box-sizing: border-box; 
    }
    
    
    .contribsearch .search__input {
        background: #283136;
        width: 310px; 
        height: 35px; 
        margin: 0 10px; 
        border: 1px solid #283136a8; 
        color: #F2F2F2; 
        font-size: 16px; 
        
        
        border-radius: 5px; 
    }
    
    
    .contribsearch .search__button {
        color: #FFF; 
        font-size: 18px; 
        font-weight: bold; 
        padding: 10px; 
        border-radius: 10px; 
        background: #f16531; 
        border: none; 
        width: 130px; 
        height: 48px; 
        
        margin-left: auto; 
        
    }
    .become{
        font-size: 3em;
        color: #FFF;
    text-align: center;
    margin: 48px 0 20px 0;
    

    }
    .tips{
        font-size: 1.125em;
        color: #FFF;
    text-align: center;
    
    }



    
.footer {
    display: flex;
    align-items: flex-start;

    background-color: #252424; 
    color: #F2F2F2; 
    width: 100%;
    font-family: 'Poppins'; 
    margin-top: 145px;
}


.footer-container {
    display: flex;
    justify-content: center; 
   align-items: flex-start;
   gap:150px;
    margin-left: -55px ;
    flex-wrap: wrap; 
width: 100%;
    
}


.footer-section {
    flex: 1; 
    min-width: 200px; 
}


.footer-title {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

.footer-subtitle {
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 15px; 
}


.footer-copyright,
.footer-description,
.footer-contact {
    font-size: 14px; 
    color: #F2F2F2; 
    margin-bottom: 10px; 
}

.footer-list {
    list-style: none; 
    padding: 0; 
}

.footer-list li {
    margin-bottom: 10px; 
}

.footer-list a {
    color: #F2F2F2; 
    text-decoration: none; 
    font-size: 14px; 
    
}


    
    .footer-subtitle{
        font-size:1.25em;
    }
    
    
    